html,
body,
.login-box {
  height: 100%;
  width: 100%;
}

body, html {
  display:block;
  overflow:auto;
}

body {
  background-image:url("maps.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display:block;
  overflow:auto;
}

.nav-wrapper .grey {
  overflow: auto;
}

#reset {
  outline: none;
  font-size: 15px;
}

#name, #email, #password {
  font-size: 15px;
  padding-left: 10px;
}

input.validate:focus {
  border-bottom-color: #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

input.validate.valid {
  border-bottom: 1px solid #9e9e9e !important;
  -webkit-box-shadow: 0 1px 0 0 #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
  background-color: white !important;
}

input#search-value:focus {
  border-bottom-color: #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #2196f3 !important;
  border-bottom: 2px solid #2196f3 !important;
}

label[for="test1"], label[for="test2"],
label[for="test3"], label[for="test4"],
label[for="test5"], label[for="test6"] {
  color: black !important;
}

.input-field .prefix.active {
  color: #2196f3 !important;
}

.material-icons.prefix {
  font-size: 30px !important;
}

input.validate {
  padding-left: 5px !important;
  font-size: 20px !important;
}

textarea.materialize-textarea:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

label[for="textarea1"].active {
  color: #2196f3 !important;
}

#login-title {
  font-size: 30px;
  margin-bottom: 30px;
}

#login-container{
  padding-bottom: 0px !important;
}

div#submit-btn-row.row {
  margin: 0px;
}

div#search-box.row  {
  margin-top: 10%;
  margin-bottom: 0px;
}

#search-value {
  font-size: 20px;
}

#search-maps-title, #contact-title {
  font-size: 30px;
}

#search-terms {
  float: right;
  margin-top: 20px;
}

#contact-box {
  margin-top: 7%;
}

#contact-title {
  margin-bottom: 30px;
}

#contact-name {
  font-size: 18px;
  margin-left: 5px;
}

#contact-email {
  color: black;
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
}

#contact-github, #contact-linkedin {
  color: black;
  font-size: 14px;
  margin-left: 5px;
  text-decoration: none;
}

#textarea1 {
  font-size: 18px;
}

#check {
  color: #2196f3;
}

#submitted-comment {
  margin-top: 15%;
}

#comment-alert {
  margin-bottom: 0px;
}

textarea.materialize-textarea {
  font-size: 20px !important;
  margin: 0px !important;
}

.svg-inline--fa {
  font-size: 30px !important;
}

iframe {
  display: inline-block;
  margin: 23px;
}

div#check-row-1 label, div#check-row-2 label {
  font-size: 13px;
}

#contact-email:hover,
#contact-github:hover,
#contact-linkedin:hover  {
  color: #2196f3;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 400px) {
  iframe {
      height: 330px !important;
      width: 330px !important;
  }
}

@media (max-width: 486px) {
  #navwrap {
      height: 115px;
  }
  #reply {
    font-size: 15px;
  }
  #check {
    padding-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  #save, #contact, #new-search,
  #logout, #navwrap, nav#topnav {display: none;}
  nav#topnav {
    height: 0px;
    margin-top: 100px;
  }
  #slide-nav {display: block;}
}

/* HOVERING LINKS BOUNCES ICONS */
@keyframes hover-over {
    0% {padding: 10px; left: 0px; top: 0px; opacity: 0.7; }
    50% {padding: 16px; left: -6px; top: -6px; opacity: 1; }
    100% {padding: 13px; left: -3px; top: -3px; opacity: 1; }
}

@-webkit-keyframes hover-over {
    0% {padding: 10px; left: 0px; top: 0px; opacity: 0.7; }
    50% {padding: 16px; left: -6px; top: -6px; opacity: 1; }
    100% {padding: 13px; left: -3px; top: -3px; opacity: 1; }
}

.bounce-i:hover {
    animation-name: hover-over;
    animation-duration: 0.2;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-name: hover-over;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}
